{% extends "layout.html" %}

{% block main %}
    <!--About page-->
    <div class="font">
        <div>
            <span class="reg"> <b class="impt"><span class="red">F</span><span class="orange">e</span><span class="yellow">e</span><span class="green">l</span><span class="blue">i</span><span class="indigo">n</span><span class="violet">g</span><span class="pink">s</span> of <span class="ital">COLOR</span></b>
            is a prototype tool created by Harvard freshman Olivia Zhang, based on the concept that emotions and colors are often associated with each other.
            Emotional component data is based on data collected from a survey on emotion-color association with participants from the Harvard community and beyond.
            Click <a href="/survey">here</a> to learn more about the survey and/or contribute new data to help us improve this tool.</span>
        </div>
        <div class="paddingabt">
            <span class="impt"><strong>The colors that we see </strong></span>
            <span class="reg">
                can influence how we feel and how we make decisions everyday. It is important to examine the association between emotions and colors, so that we can better understand
                how visual cues elicit emotional responses. A comprehensive endeavor to do such a task would provide helpful insight for effective communication through impactful information visualization.
                Whether you are a visual artist (like Olivia) trying to convey a specific mood or feeling with your work, or a product designer trying to create a product that attracts the audience you want,
                the underlying concepts of this tool and its future development are here for you.
            </span>
        </div>
        <div class="paddingabt">
            <span class="reg">
                If you are interested understanding how <span class="reg"> <b class="impt"><span class="red">F</span><span class="orange">e</span><span class="yellow">e</span><span class="green">l</span><span class="blue">i</span><span class="indigo">n</span><span class="violet">g</span><span class="pink">s</span> of <span class="ital">COLOR</span></b>
                works, you can see the documentation and source code on Olivia's GitHub <a href="https://github.com/Livy08/feeling-color">here</a>.
            </span>
        </div>
        <div class="paddingabt">
            <span class="reg">
                See a video overview of the project on YouTube <a href="https://youtu.be/Pu63pSYtd34">here</a>.
            </span>
        </div>
        <div class="paddingabt">
            Questions? Comments? Feeling emotionally attacked? Confused? Or just want to chat?
            Feel free to <a href="/contact">contact</a> Olivia!
        </div>
    </div>

{% endblock %}