{% extends "layout.html" %}

{% block main %}

    <!--Survey page-->
    <div class="font">
        <div class="reg">
            <p>
                Preliminary data for the project was collected through a Google Form sent to various mailing lists of Harvard College, as well as other members of the
                community in Olivia's social network. The form asks you for the color you most associate with each of 9 emotions, and then a second color if you have one.</p>
            <p>
                <span class="reg"> <b class="impt"><span class="red">F</span><span class="orange">e</span><span class="yellow">e</span><span class="green">l</span><span class="blue">i</span><span class="indigo">n</span><span class="violet">g</span><span class="pink">s</span> of <span class="ital">COLOR</span></b>
                as it currently exists is limited due to the small test scope of both the emotions and the colors surveyed. A future goal is to expand the data collection step to ask for
                people's associations between a larger array of emotions, feelings, connotations and a wider gradient of colors</p>
            <p>
                If you would like to help us improve the data collected from the current survey by increasing sample size, please fill out the Google Form <a href="https://goo.gl/forms/up7I0YkNUfXkwi1I3">here</a>.
            </p>
        </div>
    </div>

{% endblock %}